POSTGRESQL_USER=postgres
POSTGRESQL_PASSWORD=dev.secret
POSTGRESQL_DB=postgres
DATABASE_URL=postgresql://twila_app:pw.@localhost:5432/twila_blog
SECRET_KEY=CMThXO23vOzYVmxT1TF3MLR7MJaKbgkw2xLJgf8gT5FaZ1NnwvGeauUeUMyNIflA
