# 这个是 .env.dev 和 .env.prod 的模板，注意修改密码等敏感内容，然后放入 /secrets 使用。 同时注意上半部分的 pgsql 的密码等信息与下面的 flask url 的同步。在本项目中，使用了 /script/postgresql/ 下的脚本中定义的用户和密码，参考 create_tables 和 init_database ，同步修改 sql 和 flask 的 url 信息

POSTGRESQL_USER=postgres
POSTGRESQL_PASSWORD=dev.secret
POSTGRESQL_DB=postgres

# 这个参数需要调整，dev 也就是本地启动 flask 需要使用 @localhost 来访问 pgsql
DATABASE_URL=postgresql://twila_app:pw.@localhost:5432/twila_blog
# 容器化启动 flask 则在容器内访问 @pgsql 作为地址
DATABASE_URL=postgresql://twila_app:pw.@pgsql:5432/twila_blog

SECRET_KEY=CMThXO23vOzYVmxT1TF3MLR7MJaKbgkw2xLJgf8gT5FaZ1NnwvGeauUeUMyNIflA
